In [1]:
from bs4 import BeautifulSoup

In [2]:
html = '''
<html>
    <head>
    </head>
    <body>
        <h1> 우리동네시장</h1>
            <div class = 'sale'>
                <p id='fruits1' class='fruits'>
                    <span class = 'name'> 바나나 </span>
                    <span class = 'price'> 3000원 </span>
                    <span class = 'inventory'> 500개 </span>
                    <span class = 'store'> 가나다상회 </span>
                    <a href = 'http://bit.ly/forPlaywithData' > 홈페이지 </a>
                </p>
            </div>
            <div class = 'prepare'>
                <p id='fruits2' class='fruits'>
                    <span class ='name'> 파인애플 </span>
                </p>
            </div>
    </body>
</html>
'''

In [3]:
soup  = BeautifulSoup(html, 'html.parser')

In [7]:
soup.select('span')

[<span class="name"> 바나나 </span>,
 <span class="price"> 3000원 </span>,
 <span class="inventory"> 500개 </span>,
 <span class="store"> 가나다상회 </span>,
 <span class="name"> 파인애플 </span>]

In [8]:
span = soup.select('span')

In [9]:
type(span)

bs4.element.ResultSet

In [14]:
span[0]

tag : 그냥 사용

class : .

id : #

In [15]:
fruits = soup.select('fruits1')

In [16]:
fruits

[]

In [17]:
fruits = soup.select('#fruits1')

In [19]:
type(fruits),fruits

(bs4.element.ResultSet,
 [<p class="fruits" id="fruits1">
  <span class="name"> 바나나 </span>
  <span class="price"> 3000원 </span>
  <span class="inventory"> 500개 </span>
  <span class="store"> 가나다상회 </span>
  <a href="http://bit.ly/forPlaywithData"> 홈페이지 </a>
  </p>])

In [20]:
len(fruits)

1

In [21]:
result = soup.select('.inventory')

In [22]:
type(result),result

(bs4.element.ResultSet, [<span class="inventory"> 500개 </span>])

In [23]:
len(result)

1

In [24]:
price = soup.select('span.price')

In [26]:
type(price),price

(bs4.element.ResultSet, [<span class="price"> 3000원 </span>])

In [27]:
firstname = soup.select('p#fruits1 > span.name')  # span.name 말고 .name만 해도됨

In [28]:
type(firstname),firstname

(bs4.element.ResultSet, [<span class="name"> 바나나 </span>])

In [44]:
findnameclass = soup.select('.name')

In [45]:
type(findnameclass),findnameclass

(bs4.element.ResultSet,
 [<span class="name"> 바나나 </span>, <span class="name"> 파인애플 </span>])

* 이 경우 span : 태그 / class="name" : 애트리뷰트 / 바나나 : 텍스트

In [43]:
# len(findnameclass)
for tag in findnameclass:
    print(tag)

<span class="name"> 바나나 </span>
<span class="name"> 파인애플 </span>

for문은 list

In [36]:
findnameclass[0]

In [38]:
findnameclass[0].text   # 텍스트만 나오지만 좌우에 space가 있음

' 바나나 '

In [39]:
s = findnameclass[0].text

In [40]:
s.strip()

'바나나'

In [42]:
findnameclass[0].text.strip() # 한번에 하기

'바나나'

In [49]:
# for문 돌리면서 한번에 텍스트만 추출하기
for tag in findnameclass:
    print(tag.text.strip())

바나나
파인애플

In [58]:
cls = findnameclass[0]['class']
cls[0]

'name'

In [56]:
type(cls)

list

In [57]:
findnameclass[0]['class'][0]

'name'

In [59]:
for tag in findnameclass:
    print(tag.text.strip(), tag['class'][0])

바나나 name
파인애플 name